.timeline-popover {
  font-weight: 400;

  label {
    display: block;
    margin-top: 0.5em;
    text-align: right;
  }

  .ant-popover-inner-content {
    background: @white;
    border-radius: 2px;
    max-width: 300px;
  }
}
